<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.gover.zachary.goverzachary_ce01">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name=".FormActivity">
		</activity>

		<activity android:name=".DetailActivity">
			<intent-filter>
				<action android:name="com.fullsail.android.ACTION_VIEW_DATA"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<receiver android:name=".models.CRUDReceiver" android:exported="true">
			<intent-filter>
				<action android:name="com.fullsail.android.ACTION_SAVE_DATA" />
				<action android:name="com.fullsail.android.ACTION_DELETE_DATA" />
				<action android:name="com.fullsail.android.ACTION_UPDATE_LIST" />
			</intent-filter>
		</receiver>

	</application>

</manifest>